@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #0083CC;
    --secondary-color: #1DCC00;
    --text-color: #fff;
    --default-color: #000;
    --card-color:#6E6E6E;
    --shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.2);
    --txt-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.m-0-auto {
    margin: 0 auto;
}

button {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 30px;
    box-shadow: var(--shadow);
    padding: 0.3em 1em;
}

button:hover {
    cursor:pointer;
    transform: scale(1.05);
}

/* ########------------------ HOME PAGE ------------------######## */
/* Header */
nav {
    width: 100%;
    height: 70px;
}

nav .navbar {
    max-width: 1250px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    line-height: 70px;
    padding: 0 1em;
}



.logo span{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: var(--txt-shadow);
}

.logo span:nth-child(odd){
    color: var(--primary-color);
    text-decoration-line: underline;
}

.logo span:nth-child(even){
    color: var(--secondary-color);
    text-decoration-line: underline;
}

nav .navbar .links {
    position: relative;
    left: -250px;
    height: 100%;
    line-height: 70px;
    font-weight: 400;
}

nav .navbar .links .homepage-nav-links {
    text-decoration: none;
    color: var(--default-color);
    padding: 0 1em;
    font-weight: 500;
}

nav .navbar button{
    padding: 5px 15px;
    font-size: small;
    font-weight: 500;
}



/* Body */

body {
    background-image: url(./Assets/so-white.png);
    height: 100%;
    width: 100%;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.body-container .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.body-container .hero-content .emphasis {
    color: var(--primary-color);
    font-size: 13px;
    letter-spacing: 2.5px;
    position: relative;
    left: -39px;
    font-weight: 600;
}

.body-container .hero-content .main-content {
    display: block;
    width: 40%;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.body-container .hero-content .hero-curve{
    position:relative;
    top: -45px;
    left: 65px;
    width:90px;
    height:80px;
    border-top:5px solid var(--primary-color);
    border-left:5px solid var(--primary-color);
    border-top-left-radius:100px;
    float:left;
    transform: rotate(15deg);
}

.body-container .hero-content .download-btn {
    position: relative;
    left: -50px;
    top: -35px;
    width: 19%;
}

.download-icon {
    position: relative;
    left: -12px;
    color: #fff;
}

.body-container .hero-content button {
    padding: 5px 15px;
    text-align: right;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.hero-image-container img {
    width: 100%;
    height: 320px;
    position: relative;
    left: -100px;
    top: 20px;

}


/* Footer */
footer{
    position:absolute;
    height:230px;
    bottom:0;
    left:0;
    width:100%;
}

footer .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

footer .footer-container .avatars {
    background-color: #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

footer .footer-container .avatars .person{
    background-color: var(--card-color);
    width: 180px;
    height: 80%;
    margin: auto;
    border-radius: 10%;
    box-shadow: var(--shadow);

}

footer .footer-container .avatars .person img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin: -30px auto;
}

footer .footer-container .avatars .person .caption {
    display: block;
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 600;
    margin-top: 50px;
    letter-spacing: 1px;
    text-align: center;
}

footer .footer-container .avatars .person span:nth-child(odd) {
    display: block;
    text-align: center;
    font-size: 13px;
    color: var(--text-color);
}

footer .footer-container .avatars .person span:nth-child(even) {
    /* background-color: rebeccapurple; */
    display: block;
    font-size: 11px;
    font-style: italic;
    color: var(--text-color);
    padding: 15px 5px 1px;
    text-align: center;
}


footer .footer-container .some-content {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1.5em;
    font-size: small;
}


/* LOGINSIGNUP */


.login-signup-container {
    position: absolute;
    padding: 3em 5em 0;
    background-color: #303030;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
}

hr {
    display: inline;
    background: url(./Assets/so-white.png);
    height: 70vh;
    width: 0;
    opacity: 0.6;
}

.card {
    background-color: var(--card-color);
    box-shadow: var(--shadow);
    color: var(--text-color);
    border-radius: 30px;
    width: 40vw;
}

.card-60vh {
    height: 60vh;
}

.card-75vh {
    height: 75vh;
}

.m-t {
    margin-top: 50px;
}

.card .card-title {
    text-align: center;
    padding: 1.5em 0 0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1.5em 3em;
}

.alert-danger {
    position: relative;
    width: 100%;
    text-align: center;
    color: #733341;
    background-color: #F9D7DB;
    z-index: 10;
}

form div {
    padding: 1em 0;
}

form label {
    letter-spacing: 1px;
    font-size: 14px;
}

input[type=email],
input[type=password] {
    height: 2rem;
    font-size: 15px;
    outline: none;
    width: 100%;
}

button[type=submit] {
    padding: 1em 1.5em;
    width: 120px;
}